/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"); */


.theme_toggler {
    background: var(--primary-color);
    z-index: 999999999;
    left: 10px;
    background: var(--primary-color);
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    font-weight: 300;
    /* font-family: 'Prompt', sans-serif; */
}

.theme_toggler svg {
    width: 2em;
    height: 2em;
}